{% load i18n static custom_filters %}

<header data-controller="blog parallax" class="container--narrow blog-post--header">
    {% include 'components/blocks/_heading_group.html' with align="center" title_tag="h1" title_extra_class="text--bold" title=post.title subtitle=post.resume link_page="contact" link_action="click->home#changePage" link_title=home_header_link %}
    <img src="{{ THUMBOR_URL|set_size:"1050x" }}{% if post.cover %}{{ post.cover }}{% else %}{% static 'img/ccstech-io.png' %}{% endif %}" alt="{{ post.title }}" class="blog-post--header__img">

    <span aria-label="hidden" class="blog-post--header__bg" id="blog-post-header-bg"></span>
</header>

<section class="container--narrow blog-post--body markdown-styles">
    {{ post.body|safe }}
    <span aria-label="hidden" class="blog-post--body__bg" id="blog-post-body-bg"></span>
</section>

<section class="container--narrow blog-post--credits">
    <p class="text--bolder">{{ post.author_name }}</p>
    <p class="text--s text--medium">{{ post.author_occupation }}</p>
</section>
