{% load static i18n %}
<p class="pet">
    <img class="pet__image" alt="Pet" src="{% static "img/pet.png" %}">
</p>
<h1>{% trans "Welcome to <strong>Django LiveView</strong>, the Django framework for creating a complete HTML over the Wire site or LiveView" %}</h1>
<p>{% trans "You will be able to find typical solutions when creating a dynamic web page using the HTML over WebSockets approach." %}</p>
<ul data-controller="page cats">
    <li>
	{% trans "Navigator that marks as active the page where you are (Header of this page)." %}
    </li>
    <li>
	{% trans "Multilanguage, with its translated routes, language selector (right of the header) and .po file system (<code>locale</code> directory)" %}.
    </li>
    <li>
	<a
	    href="{% url 'about us' %}"
	    data-page="about_us"
	    data-action="click->page#changePage"
	>{% trans "Static page - About us" %}</a>
    </li>
    <li>
	<a
	    href="{% url 'cats list' %}"
	    data-page="cats"
	    data-action="click->page#changePage"
	>
	    {% trans "Dynamic page - List of cats" %}
	</a>
    </li>
    <li>
	<a
	    href="{% url 'cat single' cat_slug=first_cat.slug %}"
	    data-slug="{{ first_cat.slug }}"
	    data-action="click->cats#openCatSingle"
	>
	    {% trans "Dynamic page - Single cat" %}: {{ first_cat.name }}
	</a>
    </li>
    <li>
	<a
	    href="{% url 'login' %}"
	    data-page="login"
	    data-action="click->page#changePage"
	>
	    {% trans "Form with validations: Login" %}
	</a>
    </li>
</ul>
