{% load i18n static custom_filters %}

<header data-controller="parallax page animations" class="home--header layout-grid--main container--narrow">
    {% trans "Desarrollamos <strong class='text--bold'>soluciones tecnológicas</strong> que se ajustan a las necesidades de tu proyecto, creamos tu plataforma <strong class='text--bold'>Web, API's y aplicaciones móviles iOS y Android</strong>. Creemos en el poder del código para la <strong class='text--bold'>digitalización</strong> mediante software y tecnologías Cloud." as home_header_subtitle %}
    {% trans "Pongámonos en contacto" as home_header_link %}
    {% include 'components/blocks/_heading_group.html' with title_tag="h1" title="We believe in" title_highlight="the power of code" subtitle=home_header_subtitle link_page="contact" link_action="click->page#changePage" link_title=home_header_link %}
    <object
        id="app-robot"
        data="{% static 'img/home/animated-apps-robot.svg' %}"
        type="image/svg+xml"
        class="layout-grid--main__img home--header__img"
        title="{% trans "Desarrollo de APPs" %}"
    ></object>
    <span aria-label="hidden" class="home--header__bg" id="header-bg"></span>
</header>

<section data-controller="page animations" class="home--values container--narrow">
    {% trans "<strong class='text--bold'>Nuestros valores</strong>" as home_values_title %}
    {% trans "Nacimos digital, <strong class='text--bold'>sabemos cómo ser digital</strong>. Nuestro enfoque es 100% tecnológico, tenemos como objetivo <strong class='text--bold'>entenderte y acompañarte</strong> durante el desarrollo de tu proyecto o productos. Venimos de la nube y vamos para la nube" as home_values_subtitle %}
    {% include 'components/blocks/_heading_group.html' with title_extra_class="text--bold" title=home_values_title subtitle=home_values_subtitle %}
    <ul class="home--values__list">
        <li>
            {% trans "Mejoramos y optimizamos cada proceso" as home_values_item1 %}
            {% include 'components/blocks/_block_with_img.html' with img_src="img/home/values/optimization.svg" img_alt=home_values_item1 text=home_values_item1 %}
        </li>
        <li>
            {% trans "Aplicamos nuevas metodologías" as home_values_item2 %}
            {% include 'components/blocks/_block_with_img.html' with img_src="img/home/values/methodology.svg" img_alt=home_values_item2 text=home_values_item2 %}
        </li>
        <li>
            {% trans "Nos anticipamos a las necesidades cloud" as home_values_item3 %}
            {% include 'components/blocks/_block_with_img.html' with img_src="img/home/values/cloud.svg" img_alt=home_values_item3 text=home_values_item3 %}
        </li>
        <li>
            {% trans "Nos comprometemos con la excelencia" as home_values_item4 %}
            {% include 'components/blocks/_block_with_img.html' with img_src="img/home/values/excellence.svg" img_alt=home_values_item4 text=home_values_item4 %}
        </li>
    </ul>
    <p>
        <button
            type="button"
            class="button button--hover-orange"
            data-page="about us"
            data-action="click->page#changePage"
        >{% trans "Conoce más aquí" %}</button>
    </p>
    <object
        id="robotic-arm"
        data="{% static 'img/home/animated-robotic-arm.svg' %}"
        type="image/svg+xml"
        class="layout-grid--main__img home--values__img desktop-view"
        title="{% trans "Desarrollo de APPs" %}"
    ></object>
    <span aria-label="hidden" class="home--values__bg" id="values-bg"></span>
</section>

<section data-controller="page animations" class="container--narrow home--dev-types">
    {% trans "Tipo de desarrollo" as home_dev_title %}
    {% trans "Tu proyecto debe empezar en la <strong class='text--bold'>plataforma adecuada</strong>. Conoce aquí todo lo que necesitas saber para que comencemos con tu desarrollo." as home_dev_subtitle %}
    {% trans "Descubre mucho más" as home_dev_link %}
    {# This button should lead to Projects #}
    {% include 'components/blocks/_heading_group.html' with container_extra_class="home--dev-types__header" title=home_dev_title title_extra_class="text--bold" subtitle=home_dev_subtitle link_page="projects landing" link_action="page#changePage" link_title=home_dev_link %}
    <nav class="home--dev-types__nav">
        <ul>
            <li
                data-animations-embed-param="#home-web"
                data-animations-svg-param="#eI480oTXiG11"
                data-animations-iterations-param="1"
                data-action="mouseenter->animations#playAnimation touchstart->animations#playAnimation"
            >
                <button
                    type="button"
                    class="home--dev-types__nav--button"
                    data-page="services"
                    data-action="click->page#changePage"
                    data-scroll="#websites"
                >
                    <object
                        id="home-web"
                        data="{% static 'img/home/dev-types/animation-webs.svg' %}"
                        type="image/svg+xml"
                        class="home--dev-types__nav--button__img"
                        title="{% trans "Web e intranets" %}"
                    ></object>
                    <strong class="home--dev-types__nav--button__title text--m text--bold text--white">{% trans "Web e intranets" %}</strong>
                </button>
            </li>
            <li
                data-animations-embed-param="#home-app"
                data-animations-svg-param="#ecYdFQsEweL1"
                data-animations-iterations-param="1"
                data-action="mouseenter->animations#playAnimation touchstart->animations#playAnimation"
            >
                <button
                    type="button"
                    class="home--dev-types__nav--button"
                    data-page="services"
                    data-action="click->page#changePage"
                    data-scroll="#apps"
                >
                    <object
                        id="home-app"
                        data="{% static 'img/home/dev-types/animation-apps.svg' %}"
                        type="image/svg+xml"
                        class="home--dev-types__nav--button__img"
                        title="{% trans "Aplicaciones nativas" %}"
                    ></object>
                    <strong class="home--dev-types__nav--button__title text--m text--bold text--white">{% trans "Aplicaciones nativas" %}</strong>
                </button>
            </li>
            <li
                data-animations-embed-param="#home-platforms"
                data-animations-svg-param="#eOH8tu7D3sq1"
                data-animations-iterations-param="1"
                data-action="mouseenter->animations#playAnimation touchstart->animations#playAnimation"
            >
                <button
                    type="button"
                    class="home--dev-types__nav--button"
                    data-page="services"
                    data-action="click->page#changePage"
                    data-scroll="#apis"
                >
                    <object
                        id="home-platforms"
                        data="{% static 'img/home/dev-types/animation-platforms.svg' %}"
                        type="image/svg+xml"
                        class="home--dev-types__nav--button__img"
                        title="{% trans "Plataformas y más" %}"
                    ></object>
                    <strong class="home--dev-types__nav--button__title text--m text--bold text--white">{% trans "Plataformas y más" %}</strong>
                </button>
            </li>
        </ul>
    </nav>
    <span aria-label="hidden" class="home--dev-types__bg" id="dev-types-bg"></span>
</section>

<section data-controller="page" class="container--narrow home--technology">
    {% trans "Nuestras" as home_tech_title %}
    {% trans "tecnologías" as home_tech_title_bold %}
    {% trans "En los procesos que desarrollamos la <strong class='text--bold'>innovación</strong> es uno de nuestros pilares, siempre tenemos la mirada más allá en <strong class='text--bold'>el futuro y las tecnologías</strong> como Blockchain, Big Data, Cloud Native Development, Machine Learning, Artificial Intelligence y Data Driven Development." as home_tech_subtitle %}
    {% trans "Agenda una consulta" as home_tech_link %}
    {% include 'components/blocks/_heading_group.html' with align="center" title=home_tech_title title_highlight=home_tech_title_bold title_size_class="title--m" title_extra_class="home--technology__title" subtitle=home_tech_subtitle link_page="contact" link_action="click->page#changePage" link_title=home_tech_link %}
    <ul class="home--technology__list">
        <li>
            <img src="{% static 'img/home/technology/clojure.svg' %}" alt="clojure" class="home--technology__list--img">
        </li>
        <li>
            <img src="{% static 'img/home/technology/javascript.svg' %}" alt="javascript" class="home--technology__list--img">
        </li>
        <li>
            <img src="{% static 'img/home/technology/python.svg' %}" alt="python" class="home--technology__list--img">
        </li>
        <li>
            <img src="{% static 'img/home/technology/kotlin.svg' %}" alt="kotlin" class="home--technology__list--img">
        </li>
        <li>
            <img src="{% static 'img/home/technology/swift.svg' %}" alt="swift" class="home--technology__list--img">
        </li>
    </ul>
    <span aria-label="hidden" class="home--technology__bg" id="technology-bg"></span>
</section>

{# Projects #}
{% if projects %}
<section data-controller="project" class="container--narrow home--projects">
    <nav class="home--projects__nav">
        {% trans "Proyectos" as home_projects_title %}
        {% trans "Obtener ventaja competitiva en el mercado no es tarea fácil, es por ello que ofrecemos <strong class='text--bold'>la solución que mejor se adapta</strong> a cada proyecto, nuestra experiencia así lo demuestra." as home_projects_subtitle %}
        {% include 'components/blocks/_heading_group.html' with container_extra_class="home--projects__h-group" title=home_projects_title title_extra_class="text--bold" subtitle=home_projects_subtitle %}

        {# Projects list #}
        {% for project in projects %}
        {% include 'components/blocks/_card_project.html' with action="project#open" container_extra_class="home--projects__card" title=project.name subtitle=project.category slug=project.slug category=project.category_slug thumbor=THUMBOR_URL|set_size:"550x" img_src=project.cover %}
        {% endfor %}

        <p data-controller="page" class="home--projects__more">
            <button
                type="button"
                class="button button--hover-grey"
                data-page="projects landing"
                data-action="click->page#changePage"
            >{% trans "Más proyectos" %}</button>
        </p>
    </nav>
</section>
{% endif %}

{# Last post #}
{% if last_post %}
<section data-controller="page blog" class="container--narrow home--blog">
    <h2 class="title--m text--bold">{% trans "Conoce qué está pasando en el mundo de las IT" %}</h2>
    <button class="layout-grid--main home--blog__link" data-action="blog#open" data-slug="{{ last_post.slug }}">
        <figure class="home--blog__link--img">
            <img src="{{ THUMBOR_URL|set_size:"836x" }}{% if last_post.cover %}{{ last_post.cover }}{% else %}{% static 'img/ccstech-io.png' %}{% endif %}" alt="{{ last_post.title }}">
        </figure>
        {% trans "Infórmate haciendo clic" as home_blog_link %}
        {% include 'components/blocks/_heading_group.html' with title_tag="h3" title_size_class="title--xs text--bold" title_extra_class="home--blog__link--title" title=last_post.title subtitle=last_post.resume link_title=home_blog_link link_extra_class="home--blog__link--button" %}
    </button>
    <p class="home--blog__more">
        <button data-action="page#changePage" data-page="blog list" type="button" class="button button--hover-grey">{% trans "Más artículos" %}</button>
    </p>
    <span aria-label="hidden" class="home--blog__bg" id="blog-bg"></span>
</section>
{% endif %}
