{% load i18n static custom_filters %}

<header data-controller="page parallax" class="services--header layout-grid--main container--narrow">
    {% trans "Nuestros" as services_header_title %}
    {% trans "Servicios" as services_header_title_bold %}
    {% trans "Implementamos la <strong class='text--bold'>arquitectura de software</strong> que mejor se adapta en función de las necesidades de tu proyecto o empresa, puesto que cada una contiene su <strong class='text--bold'>propio ADN haciéndolas únicas y a la medida</strong>.</br><strong class='text--bold'>Comunícate con nosotros para saber cómo apoyarte.</strong>" as services_header_subtitle %}
    {% trans "Escríbenos" as services_header_link %}
    {% include 'components/blocks/_heading_group.html' with container_extra_class="services--header__heading" title_tag="h1" title=services_header_title title_highlight=services_header_title_bold subtitle=services_header_subtitle subtitle_extra_class="services--header__subtitle" link_page="contact" link_action="click->page#changePage" link_title=services_header_link %}
    <object
        id="services-robotic-arm"
        data="{% static 'img/services/animated-robotic-arm.svg' %}"
        type="image/svg+xml"
        class="layout-grid--main__img services--header__img"
        title="{% trans "Desarrollo de APPs" %}"
    ></object>
    <span aria-label="hidden" class="services--header__bg" id="services-header-bg"></span>
</header>

<nav class="services--nav container--narrow" data-controller="services">
    <ul class="services--nav__list">
        <li>
            <a
                href="#apps"
                class="services--nav__link"
                data-services-anchor-param="#apps"
                data-action="click->services#scrollToCategory"
            >
                <figure class="services--nav__link--img">
                    <img
                        src="{% static 'img/services/nav/apps-off.svg' %}"
                        alt="{% trans "Desarrollo de APPs iOS/Android" %}"
                        class="services--nav__link--img-apps"
                    >
                    <img
                        src="{% static 'img/services/nav/apps-on.svg' %}"
                        alt="{% trans "Desarrollo de APPs iOS/Android" %}"
                        class="services--nav__link--img-apps"
                    >
                </figure>
                <strong class="text--m text--bold">
                    {% trans "Desarrollo de APPs iOS/Android" %}
                </strong>
            </a>
        </li>
        <li>
             <a
                href="#websites"
                class="services--nav__link"
                data-services-anchor-param="#websites"
                data-action="click->services#scrollToCategory"
            >
                <figure class="services--nav__link--img">
                    <img
                        src="{% static 'img/services/nav/websites-off.svg' %}"
                        alt="{% trans "Desarrollo de sitios web" %}"
                        class="services--nav__link--img-websites"
                    >
                    <img
                        src="{% static 'img/services/nav/websites-on.svg' %}"
                        alt="{% trans "Desarrollo de sitios web" %}"
                        class="services--nav__link--img-websites"
                    >
                </figure>
                <strong class="text--m text--bold">
                    {% trans "Desarrollo de sitios web" %}
                </strong>
            </a>
        </li>
        <li>
            <a
               href="#apis"
               class="services--nav__link"
               data-services-anchor-param="#apis"
               data-action="click->services#scrollToCategory"
           >
               <figure class="services--nav__link--img">
                   <img
                       src="{% static 'img/services/nav/apis-off.svg' %}"
                       alt="{% trans "APIs y Plataformas" %}"
                       class="services--nav__link--img-apis"
                   >
                   <img
                       src="{% static 'img/services/nav/apis-on.svg' %}"
                       alt="{% trans "APIs y Plataformas" %}"
                       class="services--nav__link--img-apis"
                   >
               </figure>
               <strong class="text--m text--bold">
                   {% trans "APIs y Plataformas" %}
               </strong>
           </a>
       </li>
        <li>
             <a
                href="#consulting"
                class="services--nav__link"
                data-services-anchor-param="#consulting"
                data-action="click->services#scrollToCategory"
            >
                <figure class="services--nav__link--img">
                    <img
                        src="{% static 'img/services/nav/consulting-off.svg' %}"
                        alt="{% trans "Consultoría y acompañamiento" %}"
                        class="services--nav__link--img-consulting"
                    >
                    <img
                        src="{% static 'img/services/nav/consulting-on.svg' %}"
                        alt="{% trans "Consultoría y acompañamiento" %}"
                        class="services--nav__link--img-consulting"
                    >
                </figure>
                <strong class="text--m text--bold">
                    {% trans "Consultoría y acompañamiento" %}
                </strong>
            </a>
        </li>
    </ul>
</nav>

<section data-controller="page project" class="services--apps layout-grid--main container--narrow">
    <span id="apps" aria-label="hidden" class="scroll-top"></span>
    {% trans "Desarrollo de aplicaciones iOS y Android" as services_apps_title %}
    {% trans "Diseñamos y desarrollamos aplicaciones móviles <strong class='text--bold'>nativas (iOS y Android)</strong> con características a la medida tanto de la plataforma como del proyecto. Del mismo modo, en el desarrollo de <strong class='text--bold'>aplicaciones híbridas</strong> creamos entornos más flexibles que ofrecen <strong class='text--bold'>excelentes resultados por una inversión menor</strong>, siendo estas aplicaciones multiplataforma aptas en su funcionamiento para estos sistemas operativos" as services_apps_subtitle %}
    {% include 'components/blocks/_heading_group.html' with title_extra_class="text--bold" title=services_apps_title subtitle=services_apps_subtitle %}
    {% include 'components/blocks/_card_project.html' with container_extra_class="services--apps__card" slug=project_app.slug category=project_app.category_slug action="project#open" title=project_app.name subtitle=project_app.description|safe with_html_tags=True thumbor=THUMBOR_URL|set_size:"836x" img_src=project_app.cover %}
    <p class="services--apps__more">
        <button
            type="button"
            data-slug="{{ category_mobile_slug }}"
            data-action="project#openCategory"
            data-scroll="#category-filter"
            class="button button--hover-grey"
        >{% trans "Más proyectos" %}</button>
    </p>
</section>

<section data-controller="page project" class="services--websites layout-grid--main container--narrow">
    <span id="websites" aria-label="hidden" class="scroll-top"></span>
    {% trans "Desarrollo web" as services_websites_title %}
    {% trans "Desde la concepción, diseño e implementación, desarrollamos aplicaciones web con Intranets, <strong class='text--bold'>plataformas web</strong>, entre otros, enfocados en los resultados internos cumpliendo con los formatos y <strong class='text--bold'>exigencias tecnológicas</strong> del entorno para cumplir con objetivos como el posicionamiento y la usabilidad." as services_websites_subtitle %}
    {% include 'components/blocks/_heading_group.html' with container_extra_class="services--websites__header" title_extra_class="text--bold" title=services_websites_title subtitle=services_websites_subtitle %}
    {% include 'components/blocks/_card_project.html' with container_extra_class="services--websites__card" title=project_web.name subtitle=project_web.description|safe slug=project_web.slug category=project_web.category_slug action="project#open" with_html_tags=True thumbor=THUMBOR_URL|set_size:"836x" img_src=project_web.cover %}

    <p class="services--websites__more">
        <button
            type="button"
            data-slug="{{ category_web_slug }}"
            data-action="project#openCategory"
            data-scroll="#category-filter"
            class="button button--hover-grey"
        >{% trans "Más proyectos" %}</button>
    </p>
    <span aria-label="hidden" class="services--websites__bg" id="services-websites-bg"></span>
</section>

<section data-controller="page project" class="services--apis layout-grid--main container--narrow">
    <span id="apis" aria-label="hidden" class="scroll-top"></span>
    {% trans "Desarrollo de Plataformas y APIs" as services_apis_title %}
    {% trans "Contamos con la <strong class='text--bold'>experiencia y las tecnologías</strong> para desarrollar softwares y plataformas a través de protocolos que permiten la <strong class='text--bold'>integración de sistemas</strong> o APPs nuevas así como con <strong class='text--bold'>APIs de terceros con sistemas existentes</strong> incrementando su funcionalidad." as services_apis_subtitle %}
    {% include 'components/blocks/_heading_group.html' with container_extra_class="services--apis__header" title_extra_class="text--bold" align="center" title=services_apis_title subtitle=services_apis_subtitle %}
    <p class="text--l">{% blocktranslate %}Su implementación permite que las empresas <strong class='text--bold'>respondan de manera rápida</strong> a sus servicios cumpliendo con sus objetivos y además, cuentan con mayor facilidad en su mantenimiento.{% endblocktranslate %}</p>
    {% for item in projects_api %}
    {% include 'components/blocks/_card_project.html' with container_extra_class="services--apis__card" title=item.name subtitle=item.description|safe slug=item.slug category=item.category_slug action="project#open" with_html_tags=True thumbor=THUMBOR_URL|set_size:"836x" img_src=item.cover %}
    {% endfor %}
    <p class="services--apis__more">
        <button
            type="button"
            data-slug="{{ category_api_slug }}"
            data-action="project#openCategory"
            data-scroll="#category-filter"
            class="button button--hover-grey"
        >{% trans "Más proyectos" %}</button>
    </p>
</section>
