{% load i18n %}
<article>
<p>
    <img alt="{{ cat.name }}" src="{{ cat.avatar_url }}">
</p>
<h1>{{ cat.name }}</h1>
<p>{{ cat.age }} years</p>
<p>{{ cat.biography }}</p>
<p data-controller="page">
    <a
	data-page="cats"
        data-action="click->page#changePage"
		   href="{% url 'cats list' %}"
    >{% trans "Back to cats" %}</a>
</p>
</article>
{# Asynchronous example of how to get data from an API and render them #}
<section id="comments">
    {% include "components/_comments.html" %}
</section>
