{% load i18n static %}

<article class="modal--no-connection" id="modal-no-connection-content">
    <div class="modal--no-connection__content">
        <img
            src="{% static "img/no-connection/no-connection-robot.svg" %}"
            alt="{% trans "No hay conexión" %}"
            class="modal--no-connection__content--img"
        >
        <h1 class="title--xs text--bold modal--no-connection__content--title">{% trans "¡No dispones de conexión a internet!" %}</h1>
        <p class="text--l modal--no-connection__content--subtitle">{% trans "Cuando se restablezca la conexión podrás continuar con" %} <strong class="text--bold text--orange">CCSTech.io</strong>.</p>
    </div>
</article>
