{% load i18n static %}

<article class="modal" data-{{ controller }}-target="modal">
    <button class="modal__outer-button" data-action="{{ data_action }}">
        {% trans "Cerrar" %}
    </button>
    <div class="modal__content">
        <button
            type="button"
            class="modal__inner-button button--close"
            data-action="{{ data_action }}"
        >
            <span>{% trans "Cerrar" %}</span>
        </button>
        <img
            src="{% static img_src %}"
            alt="{% trans img_alt %}"
            class="modal__content--img"
        >
        <h1 class="title--xs text--bold modal__content--title">{{ title }}</h1>
        <p class="text--l modal__content--subtitle">{{ subtitle }}</p>
    </div>
</article>
