.contact--header
    margin-top: $space--king-plus

    &__heading
        display: block

.contact--calendly
    margin-top: $space--xxl

    &__container
        height: 796px

        @media screen and (max-width: 1095px)
            height: 1167px

.contact--form
    display: grid
    grid-template-columns: 2fr 1fr
    column-gap: $space--xxl
    margin:
        top: $space--king
        bottom: $space--king-plus

    &__form-container
        display: grid
        row-gap: $space--s
        background-color: $color--white
        padding: $space--m $space--l
        border-radius: $border-radius--m

    &__form
        display: grid
        grid-template-areas: "name name" "email phone" "message message" "terms terms" "submit submit"
        grid-template-columns: repeat(2, 1fr)
        column-gap: $space--l
        row-gap: $space--m

        &--name
            grid-area: name

        &--email
            grid-area: email

        &--phone
            grid-area: phone

        &--message
            grid-area: message

        &--terms
            grid-area: terms
            display: grid
            grid-template-columns: auto 1fr
            column-gap: $space--xs

            & > .input--errors
                grid-column: 1 / 3
                text-align: left

        &--submit
            grid-area: submit
            justify-self: center

        &--name,
        &--email,
        &--phone,
        &--message,
        &--terms
            display: grid
            row-gap: $space--xs

            & > .input--errors
                grid-row: 2 / 3
                color: red

        &--terms,
        &--submit
            margin-top: $space--m

    &__address,
    &__address > hgroup,
    &__address--details
        display: grid
        row-gap: $space--xs

    &__address
        height: max-content
        padding-top: $space--m

        &--details
            display: grid
            row-gap: $space--xs

        &--detail
            $size: 3rem
            display: grid
            grid-template-areas: "icon strong" "icon span"
            grid-template-columns: $size 1fr
            grid-template-rows: repeat(2, 1fr)
            column-gap: $space--m

            & > i
                position: relative
                grid-area: icon
                display: flex
                justify-content: center
                align-items: center
                width: $size
                height: $size
                font-size: 1.5rem
                color: $color--orange

                &::after
                    position: absolute
                    content: ""
                    display: block
                    width: 100%
                    height: 100%
                    border-radius: 50%
                    background-color: $color--white
                    box-shadow: $box-shadow--soft
                    z-index: -1

            & > strong
                grid-area: strong
                align-self: flex-end

            & > span
                grid-area: span

        &--phone

            & > span
                transition: $transition--main

            &:hover > span
                color: $color--orange
