.services--header
    position: relative
    margin-top: $space--king-plus

    &__subtitle > strong:last-child
        display: block
        margin-top: $space--xxs

    &__img
        max-width: 25rem
        justify-self: center

    &__bg
        @include bg("../img/services/backgrounds/services-header-bg.svg", contain, top left)
        bottom: $space--king
        left: -25%
        height: 200%
        width: 140%

.services--nav
    $size: 10rem
    display: grid
    justify-content: center
    margin-top: $space--xxl

    &__list
        display: grid
        grid-template-columns: repeat(4, $size)
        column-gap: $space--xxl
        width: max-content

    &__link
        display: grid
        row-gap: $space--s
        text-align: center

        &--img
            position: relative
            display: flex
            justify-content: center
            align-items: center
            height: $size
            width: $size
            background-color: $color--white
            border-radius: $border-radius--s
            box-shadow: $box-shadow--soft
            transition: $transition--main

            & > img
                object-fit: contain
                object-position: center
                transition: opacity $transition--main

                &:first-child
                    opacity: 1

                &:last-child
                    position: absolute
                    opacity: 0
                    transition: opacity $transition--main

        &:hover &--img
            transform: translateY(-1rem)

            & > img

                &:first-child
                    opacity: 0

                &:last-child
                    opacity: 1

        &--img-apps,
        &--img-websites,
        &--img-consulting
            height: 70%
            width: 70%

        &--img-apps
            margin-left: 1rem

        &--img-apis
            height: 75%
            width: 75%

.services--apps,
.services--websites,
.services--apis
    position: relative
    margin-top: $space--king-plus
    grid-template-rows: auto 1fr

    &__card
        aspect-ratio: 4 / 3

        &::before
            opacity: 0

        &::after
            opacity: 1

        &:hover

            &::before
                opacity: 1

            &::after
                opacity: 0

.services--apps,
.services--websites

    &__more
        margin-top: $space--l

.services--apps

    &__card
        grid-column: 2 / 3
        grid-row: 1 / 3

        &:hover
            transform: translateX(1rem)

    &__more
        grid-column: 1 / 2
        grid-row: 2 / 3

.services--websites
    position: relative

    &__card
        grid-column: 1 / 2
        grid-row: 1 / 3

        &:hover
            transform: translateX(-1rem)

    &__more
        grid-column: 2 / 3
        grid-row: 2 / 3

    &__bg
        @include bg("../img/services/backgrounds/services-websites-bg.svg", contain, top right)
        bottom: -15rem
        right: -15rem
        height: 40rem
        width: 100%

.services--apis
    row-gap: $space--xxs
    margin-bottom: $space--king-plus

    & > hgroup,
    & > p
        grid-column: 1 / 3

    &__more
        justify-self: center

    &__card
        margin:
            top: $space--xxl
            bottom: $space--xxl

        &:hover

            &:first-of-type
                transform: translateX(-1rem)

            &:last-of-type
                transform: translateX(1rem)
