{% load static %}

<button
    data-slug="{{ slug }}"
    data-action="{{ action }}"
    {% if category %}data-category="{{ category }}"{% endif %}
    class="card-project {% if container_extra_class %}{{ container_extra_class }}{% endif %}"
>
    <figure class="card-project__figure">
        <img src="{{ thumbor }}{% if img_src %}{{ img_src }}{% else %}{% static 'img/ccstech-io.png' %}{% endif %}" alt="{{ title }}" class="card-project__figure--img">
        <figcaption class="card-project__figure--capture">
            <p class="text--l"><strong class="text--bold">{{ title }}</strong></p>
            <{% if with_html_tags %}div{% else %}p{% endif %} class="text--s card-project__figure--capture__subtitle">{{ subtitle }}</{% if with_html_tags %}div{% else %}p{% endif %}>
        </figcaption>
    </figure>
</button>
