{% load i18n static %}
<h2 style="margin-top: 3rem">{% trans "Monitoring your resources" %}</h2>
<p>{% trans "Server resources in real time, and without using JavaScript" %} 🤯</p>
<section style="margin-bottom: 5rem">
    <h3>{% trans "CPU" %}</h3>
    <table class="charts-css column hide-data show-labels" style="height: 10rem">
	<tbody id="cpu"></tbody>
    </table>
</section>
<p>
    <a href="{% url 'feed' %}" target="_blank">
	<img alt="RSS" src="{% static 'img/rss.png' %}" class="feed__img"> {% trans "Cat Feed" %} (RSS/Atom)
    </a>
</p>
<p>
    2023 Andros Fenollosa - <a href="https://github.com/tanrax/djalmeow" target="_blank">GitHub</a>
</p>
