{% load i18n %}

<header id="header" data-controller="header" class="header container--wide">
    <nav class="header__menu--main">
        <ul>
            <li>
                <button
                    type="button"
                    class="{% if active_nav == "home" %}active{% endif %}"
                    data-page="home"
                    data-action="click->header#changePage"
                >{% trans "Home" %}</button>
            </li>
	    <li>
		<button
		    type="button"
		    class="{% if active_nav == "about us" %}active{% endif %}"
		    data-page="about us"
		    data-action="click->header#changePage"
		>{% trans "About us" %}</button>
	    </li>
        </ul>
    </nav>
</header>
