{% load static i18n %}
<header id="header" data-controller="page" class="header container--wide">
    <nav class="header__menu--main">
        <ul>
            <li>
                <a
		    href="{% url 'home' %}"
                    class="{% if active_nav == "home" %}active{% endif %}"
                    data-page="home"
                    data-action="click->page#changePage"
                >
		    <img class="brand" src="{% static "img/pet-small.png" %}" alt="Brand">
		</a>
	    </li>
	    <li>
		<button
		    type="button"
		    class="{% if active_nav == "about us" %}active{% endif %}"
		    data-page="about_us"
		    data-action="click->page#changePage"
		>{% trans "About us" %}</button>
	    </li>
	    <li>
		<button
		    type="button"
		    class="{% if active_nav == "all cats" %}active{% endif %}"
		    data-page="cats"
		    data-action="click->page#changePage"
		>{% trans "Cats" %}</button>
	    </li>
	    <li>
		<button
		    type="button"
		    class="{% if active_nav == "contact" %}active{% endif %}"
		    data-page="contact"
		    data-action="click->page#changePage"
		>{% trans "Contact" %}</button>
	    </li>
	    {% if user.is_authenticated %}
	    <li>
		<button
		    type="button"
		    class="{% if active_nav == "profile" %}active{% endif %}"
		    data-page="profile"
		    data-action="click->page#changePage"
		>{% trans "Profile" %}</button>
	    </li>
	    <li data-controller="login">
		<button
		    type="button"
		    data-page="login"
		    data-action="click->login#logOut"
		>{% trans "Logout" %}</button>
	    </li>
	    <li>
		{% trans "Hi" %}, {{ user.username }}
	    </li>
	    {% else %}
	    <li>
		<button
		    type="button"
		    class="{% if active_nav == "login" %}active{% endif %}"
		    data-page="login"
		    data-action="click->page#changePage"
		>{% trans "Login" %}</button>
	    </li>
	    {% endif %}

        </ul>
	{% include "components/_language_selector.html" %}
    </nav>
</header>
